async-generator
attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
iniconfig
outcome
packaging
pluggy
pydub
PySocks
requests
selenium
sniffio
sortedcontainers
SpeechRecognition
tomli
trio
trio-websocket
urllib3
wsproto
